* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

/* Sidebar fixa */
.sidebar {
  width: 250px;
  background: #111;
  color: white;
  padding: 20px;

  position: fixed;
  height: 100vh;
}

/* Conteúdo ao lado */
.content {
  margin-left: 250px;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}


@media (max-width: 480px) {
  .content {
    margin-left: 0;
    width: 100%;
  }
}